@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
    @variants responsive {
      /* Hide scrollbar for Chrome, Safari and Opera */
      .no-scrollbar::-webkit-scrollbar {
          display: none;
      }

      /* Hide scrollbar for IE, Edge and Firefox */
      .no-scrollbar {
          -ms-overflow-style: none;  /* IE and Edge */
          scrollbar-width: none;  /* Firefox */
      }
    }
}
.collapse > input[type="checkbox"], .collapse > input[type="radio"] {
    width: auto;
}



.dropdown-enter-active {
    transition: ease-out 100ms;
}

.dropdown-leave-active {
    transition: ease-in 75ms;
}

.dropdown-enter-from,
.dropdown-leave-to {
    transform: scale(.95);
    opacity: 0;
}

/* ::-webkit-scrollbar {
    width: 5px;
}
::-webkit-scrollbar-track {
    border: 1px solid #1c2230;
    border-radius: 5px;
    background : #1c2230;
    transition: all 0.2s;
}
::-webkit-scrollbar-thumb {
    background: #777DA7;
    border-radius: 5px;
    transition: all 0.2s;
} */
